name: Traffic Stats

on:
  schedule:
    - cron: "0 23 * * *"
  workflow_dispatch:

jobs:
  collect:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Traffic Stats
        # 嘗試 1：改用 main 分支
        uses: jgehrcke/github-repo-stats@main
        with:
          ghtoken: ${{ secrets.GH_TOKEN }}
