name: Traffic Stats

on:
  schedule:
    - cron: "0 23 * * *"
  workflow_dispatch:

jobs:
  collect:
    runs-on: ubuntu-latest
    steps:
      - uses: jgehrcke/github-repo-stats@master
      - name: Run Traffic Stats
        uses: jgehrcke/github-repo-stats@v1
        with:
          ghtoken: ${{ secrets.GH_TOKEN }}
